@page "{Slug?}"
@model Blogmenia.Pages.IndexModel
@{

    var Meta = (Blogmenia.Core.MetaTags)ViewData["MyMetaTags"];
}



@if (RouteData.Values["Slug"] != null)
{
    

    <div class="jumbotron jumbotron-md bg-danger jumbotron-fluid">
        <div class="container text-center text-white h-100">
            <h1 itemprop="headline">@Model.post.Title</h1>


            <div id="dvAthr">
                <span itemprop="author" itemscope="" itemtype="https://schema.org/Person"> Author : <span itemprop="name"> Satinder Singh</span>   </span>
                / Updated : <time itemprop="dateModified" datetime="@Meta.ModifyDate"> @Model.LastUpdatedDate </time>
                <meta itemprop="datePublished" content="@Meta.PublishDate"> /
                <a href="#comments" class="text-white">
                    @{ if (Model.post.CommentCount > 0)
                        {<span itemprop="interactionCount"> @Model.post.CommentCount</span>}
                    else
                    {<span itemprop="interactionCount">0 </span>}} Comments
                </a>
            </div>
        </div>
    </div>

    <div class="container pt-2 pb-5">
        <div class="row justify-content-center">
            <div class="col-md-8 offset-md-2 blogcontent">
                <article>
                    <div id="articleBody" itemprop="articleBody">
                        @Html.Raw(@Model.post.Content)
                    </div>

                </article>
                <input type="hidden" id="hdPostId" value="@Model.post.Id" />
            </div>

            <div class="col-md-2 pr-0 pl-1">
                <div id="adHolder">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container pt-3 pb-5 mb-4 mt-5 aos-init aos-animate clsSubscriber">
                <div class="pb-4 text-center">
                    <p class="h2">
                        <span class="text-danger font-weight-bold">Subscribe</span> to our <strong>newsletter</strong>
                    </p>
                    <p class="text-muted">
                        Get the latest and greatest from Codepedia delivered straight to your inbox.
                    </p>
                </div>

                <form method="post" class="row justify-content-center f2">

                    <div class="col-md-3">
                        <input type="text" asp-for="subscribe.Name" name="fn" class="clsName form-control input-round w-100 form-control-lg" placeholder="First name*">
                        <span id="spnNameErr" asp-validation-for="subscribe.Name" style="color:red;display:none;">Pls enter your name.</span>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="subscribe.EmailId" name="em" class="clsEmail form-control input-round w-100 form-control-lg" placeholder="E-mail address*">
                        <span id="spnEmailErr" asp-validation-for="subscribe.EmailId" style="color:red;display:none;">Pls enter your name.</span>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-danger btn-round btn-lg w-100" id="btnSubscriberPost">
                            Subscribe
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">

            </div>
            <div id="comments" class="col-md-8">
                <p class="h3 section_title mb-4">Post Comment</p>
                <small>
                    Your email address will not be published. Required fields are marked *

                </small>

                <form id="fnComment">

                    <div class="row form-group pt-2">
                        <div class="col-md-4 mb-1">
                            <input asp-for="Input.Name" class="form-control" placeholder="Name*">

                            <span asp-validation-for="Input.Name" style="color:red;"></span>

                        </div>
                        <div class="col-md-4 mb-1">
                            <input asp-for="Input.EmailAddress" class="form-control" placeholder="Email-id*">
                            <span asp-validation-for="Input.EmailAddress" style="color:red;"></span>
                        </div>
                        <div class="col-md-4 mb-1">
                            <input asp-for="Input.Website" class="form-control" placeholder="http://your-site-name.com">

                        </div>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Input.CommentMsg" class="form-control" id="exampleFormControlTextarea1" placeholder="Express your thoughts, idea or write a feedback by clicking here & start an awesome comment *" rows="6"></textarea>
                        <span asp-validation-for="Input.CommentMsg" style="color:red;"></span>
                    </div>
                    <button class="btn btn-danger" id="btnComment">Submit</button>
                    <div id="dvResultMsg">

                    </div>
                </form>
            </div>
            <div class="col-md-2">

            </div>
        </div>

        @if (Model.Comment != null)
        {




            <hr />
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <p class="section_title mt-1 "><span class="text-danger h2">@Model.Comment.Count() </span><span class="h5">comments</span> </p>

                    <ol id="olCmnt" class="blog-comments pl-0" itemscope="" itemtype="http://schema.org/UserComments">

                        @foreach (var rec in Model.Comment)
                        {

                            <li id="li-comment-@rec.CommentId">
                                <article id="comment-@rec.CommentId" class="comment even thread-even depth-1 clr">

                                    @if (rec.UserId == 1)
                                    {
                                        <div class="comment-author vcard rounded-circle satinderGravImg">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="comment-author vcard rounded-circle defaultGravImg">
                                        </div>
                                    }

                                    <div class="comment-details clr">
                                        <header class="comment-meta">
                                            <cite class="fn">@rec.AuthorEmail</cite>
                                            <span class="comment-date">
                                                <a href="#comment-@rec.CommentId">
                                                    <time itemprop="commentTime" datetime="@rec.CommentDate">@rec.CommentDate</time>
                                                </a>
                                            </span>
                                        </header>
                                        <div class="comment-content entry clr" itemprop="commentText">
                                            <p>@rec.Message</p>
                                        </div>
                                        <div style="display:none;" class="reply comment-reply-link">
                                            <a rel="nofollow" class="comment-reply-link" href="#comment-898" data-commentid="898" data-postid="2453" data-belowelement="comment-898" data-respondelement="respond" aria-label="Reply to pratik">Reply</a>
                                        </div>
                                    </div>
                                </article>
                            </li>
                        }
                    </ol>
                </div>
            </div>


        }   <div class="col-md-2">

        </div>

        <div id="socialShare">
            <ul class="list-unstyled">
                <li class="mb-2">
                    <a class=" iconSVG2 sh_facebook" href="http://www.facebook.com/sharer.php?u=@Meta.Web_Url">
                        <svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>
                        </svg>
                    </a>
                </li>
                <li class="mb-2">
                    <a class="iconSVG2 sh_twitter" href="http://twitter.com/share?text=@Meta.Title&url=@Meta.Web_Url">
                        <svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
                        </svg>
                    </a>
                </li>
                <li class="mb-2">
                    <a class="iconSVG2 sh_linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=@Meta.Web_Url&title=@Meta.Title&source=codepedia">
                        <svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path>
                        </svg>
                    </a>
                </li>
                <li class="mb-2">
                    <a class="iconSVG2 sh_github" href="#">
                        <svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">
                            <path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
                        </svg>
                    </a>
                </li>
                <!-- whatsapp://send?&text=[TITLE] [URL_FULL] -->


            </ul>
        </div>
    </div>

    <script src="~/lib/prism/prism.js"></script>

}
else
{
    <header>
        <div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pt-7 pb-5 bg-danger position-relative">
            <div class="container-fluid text-white h-100">
                <div class="d-lg-flex align-items-center justify-content-between text-center pl-lg-5">
                    <div class="col pt-5 pb-5">
                        <h1 class="display-3">Learn to Code for <strong>Free</strong></h1>
                        <p class="h5 font-weight-light mb-4">
                            Understand and learn code with our friendly tutorials, and become genius in programming.
                        </p>
                        <p class="h5 pt-3">
                            Get the latest tutorials and updates
                        </p>
                        <div class="row">
                            <div class="col-md-4 "></div>
                            <div class="col-md-4 ">
                                <form class="row justify-content-center">
                                    <input type="hidden" value="NA" />
                                    <div class="input-group">
                                        <input type="text" id="txtEmail" class="form-control form-control-lg clsEmailID" name="em"
                                               style="border: 1px solid white;padding-left: 20px;padding-right: 20px;"
                                               placeholder="Enter email address">

                                        <div class="input-group-append">
                                            <button class="btn btn-lg btn-outline-white" id="btnSubscribeHomePage">
                                                SignUp
                                            </button>
                                        </div>
                                    </div>
                                    <span style="display:none;" class="clsEmailIDErr">Email address field can't be blank.</span>
                                </form>
                            </div>
                            <div class="col-md-4 "></div>



                        </div>
                    </div>

                </div>
            </div>
        </div>

    </header>
    <section class="pb-5  pb-5 mb-5 aos-init aos-animate" data-aos="fade">
        @if (Model.HomePagePostList != null)
        {
            <div class="container">
                <h4 class="section_title text-dark"> Latest Article</h4>

                <div class="row gap-y">


                    @if (Model.HomePagePostList.Any())
                    {


                        @foreach (var item in Model.HomePagePostList)
                        {
                            @if (@item.SortName == "0")
                            {
                                <div class="col-md-6 col-lg-4 ftr">
                                    <div class="card">
                                        @*<img class="card-img-top" src="@string.Concat("https://localhost:44317/" ,item.FeaturedImg)" alt="@item.Title">*@
                                        <div class="card-body">
                                            <a asp-route-slug="@item.Slug">
                                                <h3 class="card-title text-dark ftr_link"> @item.Title</h3>
                                                <span class="card-text text-muted">
                                                    Posted on @item.ModifiedDate.ToString("dd-MMM-yyyy") by Satinder Singh
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            }
                        }

                    }
                </div>
                <div class="row">
                    <div class="col-md-6 container">
                        <h3 class="section_title"> jQuery</h3>
                        @foreach (var item in Model.HomePagePostList)
                        {
                            //var cnt_1 = item.SortName.Where(i => item.SortName == "1").Count();
                            //var cnt_2 = item.SortName.Where(i => item.SortName == "2").Count();
                            //var cnt_3 = item.SortName.Where(i => item.SortName == "3").Count();
                            //var cnt_4 = item.SortName.Where(i => item.SortName == "4").Count();

                            @if (@item.SortName == "1")
                            {

                                <div class="row mb-3">
                                    <div class="col-2 txt-12">
                                        <div class="bg-gray  text-white">@item.ModifiedDate.Day </div>
                                        <div class="bg-gray  text-white">@item.ModifiedDate.ToString("MMM")</div>
                                        <div class="text-white bg-danger"> @item.ModifiedDate.Year</div>
                                    </div>
                                    <div class=" pl-0 col-10 ">
                                        <a class="text-dark txtCUSTOM" asp-route-slug="@item.Slug">
                                            @item.Title
                                        </a> <p class="txt-10  text-muted">@item.MetaDescription </p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-md-6 container">
                        <h3 class="section_title"> Asp.net Core</h3>
                        @foreach (var item in Model.HomePagePostList)
                        {
                            @if (item.SortName == "2")
                            {
                                <div class="row mb-3">
                                    <div class="col-2 txt-12">
                                        <div class="bg-gray  text-white">@item.ModifiedDate.Day </div>
                                        <div class="bg-gray  text-white">@item.ModifiedDate.ToString("MMM")</div>
                                        <div class="text-white bg-cyan"> @item.ModifiedDate.Year</div>

                                    </div>
                                    <div class=" pl-0 col-10 ">
                                        <a class="text-dark txtCUSTOM" asp-route-slug="@item.Slug">
                                            @item.Title
                                        </a>
                                        <p class="txt-10 text-muted">@item.MetaDescription </p>
                                    </div>

                                </div>
                            }
                        }

                    </div>


                    <div class="col-md-6 container">
                        <h3 class="section_title"> Javascript</h3>
                        @foreach (var item in Model.HomePagePostList)
                        {
                            @if (item.SortName == "3")
                            {

                                <div class="row mb-3">
                                    <div class="col-2 txt-12">
                                        <div class="bg-gray  text-white">@item.ModifiedDate.Day </div>
                                        <div class="bg-gray  text-white">@item.ModifiedDate.ToString("MMM")</div>
                                        <div class="text-white bg-salmon"> @item.ModifiedDate.Year</div>

                                    </div>
                                    <div class=" pl-0 col-10 ">
                                        <a class="text-dark txtCUSTOM" asp-route-slug="@item.Slug">
                                            @item.Title
                                        </a> <p class="txt-10  text-muted">@item.MetaDescription </p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-md-6 container">
                        <h3 class="section_title"> Angular</h3>
                        @foreach (var item in Model.HomePagePostList)
                        {
                            @if (@item.SortName == "4")
                            {


                                <div class="row mb-3">
                                    <div class="col-2 txt-12">
                                        <div class="bg-gray  text-white">@item.ModifiedDate.Day </div>
                                        <div class="bg-gray  text-white">@item.ModifiedDate.ToString("MMM")</div>
                                        <div class="text-white  bg-success "> @item.ModifiedDate.Year</div>

                                    </div>
                                    <div class=" pl-0 col-10 ">
                                        <a class="text-dark txtCUSTOM" asp-route-slug="@item.Slug">
                                            @item.Title
                                        </a>
                                        <p class="txt-10 text-muted">@item.MetaDescription </p>
                                    </div>
                                </div>
                            }
                        }

                    </div>

                </div>


            </div>
        }



    </section>

    <script type="text/javascript">
        var el = document.getElementById("menuBar");
        el.classList.add("fixed-top");
    </script>
}

@Html.AntiForgeryToken()



@if (RouteData.Values["Slug"] != null)
{

    @section Scripts{
        <script type="text/javascript">

            var patternEmail = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i



            function generateCmtAlert(msg, classname) {
                $("#dvResultMsg").html(" <div class='alert " + classname + " mt-1 mb-1' role='alert'>  " + msg + " <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>×</span></button></div>");
            }



            $(document).ready(function () {

                function fnValidS() {

                    var iName = $(".f2 .clsName").val().trim();
                    var iEmail = $(".f2 .clsEmail").val().trim();

                    if (iName.length == 0) {
                        $("#spnNameErr").fadeIn(600);
                        return false;
                    } else if (iEmail.length == 0) {
                        $("#spnEmailErr").fadeIn(600);
                        return false;
                    } else if (!patternEmail.test(iEmail)) {
                        $("#spnEmailErr").html("Invalid e-mail address.");
                        $("#spnEmailErr").fadeIn(600);
                        return false;
                    }
                    else {
                        return true;
                    }
                }


                $(".clsSubscriber").hover(function () {

                    fnShake("add");

                }, function () {
                    fnShake("d");
                });


                $(".input-round").on('focus', function () {
                    fnShake("d");
                });

                function fnShake(mode) {
                    if (mode == "add") {
                        $("#btnSubscriberPost").addClass("shake");
                    } else {
                        $("#btnSubscriberPost").removeClass("shake");
                    }
                }


                $("#btnSubscriberPost").on('click', function (e) {
                    e.preventDefault();

                    var obj = {
                        // "SubscriberId": 0,
                        "Name": $(".f2 .clsName").val(),
                        "EmailId": $(".f2 .clsEmail").val()
                    }
                    if (fnValidS()) {
                        $.ajax({
                            type: "POST",
                            url: "api/Subscribers",
                            headers: {
                                "RequestVerificationToken":
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            data: JSON.stringify(obj),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: OnSuccess_2,
                            error: OnErrorCall_2
                        });
                    }

                    function OnSuccess_2(data) {
                        if (data.success) {
                            alert("You have subscribe successfully");
                            clearMsg();
                        } else {
                            alert(data.message);
                            clearMsg();
                        }
                    }
                    function OnErrorCall_2(data) {
                        alert("Error occurs, pls try again later.");
                    }
                });

                function clearMsg() {
                    $(".f2 .clsName").val("");
                    $(".f2 .clsEmail").val("");
                }

                function setImages() {
                    $(".imgClassP").each(function () {
                        var self = $(this);
                        self.attr("src", self.attr("data-src"));
                    });
                }
                setImages();

                function fnValidCMT() {
                    var iname = $("#Input_Name").val().trim();
                    var iemd = $("#Input_EmailAddress").val().trim();
                    var icnt = $("#exampleFormControlTextarea1").val().trim();
                    if (iname.length == 0) {
                        generateCmtAlert("Pls enter your name.", "alert-danger");
                        return false;
                    } else if (iemd.length == 0) {
                        generateCmtAlert("Pls enter email-id.", "alert-danger");
                        return false;
                    } else if (!patternEmail.test(iemd)) {
                        generateCmtAlert("Pls enter valid email-id.", "alert-danger");
                        return false;
                    }
                    else if (icnt.length == 0) {
                        generateCmtAlert("Comment field can't be blank.", "alert-danger");
                        return false;
                    }
                    return true;
                }

                $("#btnComment").on('click', function (evt) {

                    evt.preventDefault();


                    var obj = {
                        "CommentId": 0,
                        "PostId": parseFloat($("#hdPostId").val()),
                        "AuthorName": $("#Input_Name").val(),
                        "AuthorEmail": $("#Input_EmailAddress").val(),
                        "AuthorWebsite": $("#Input_Website").val(),
                        "Message": $("#exampleFormControlTextarea1").val()
                    }


                    if (fnValidCMT()) {
                        $.ajax({
                            type: "POST",
                            url: "api/Comments",
                            headers: {
                                "RequestVerificationToken":
                                    $('input[name="__RequestVerificationToken"]').val()
                            },
                            data: JSON.stringify(obj),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: OnSuccess_cmt,
                            error: OnErrorCall_cmt
                        });
                    }



                    function OnSuccess_cmt(data) {
                        if (data.success) {

                            generateCmtAlert("Thank you for the comment, <small> it's pending for approval</small>", "alert-success");
                            var cmtHTML = "";
                            cmtHTML += ' <li id="li-comment-000"><article id="comment-000" class="comment even thread-even depth-1 clr">';
                            cmtHTML += ' <div class="comment-author vcard rounded-circle defaultGravImg"></div>';
                            cmtHTML += ' <div class="comment-details clr"><header class="comment-meta">';
                            cmtHTML += ' <cite class="fn">' + $("#Input_Name").val() + '</cite>';
                            cmtHTML += ' <span class="comment-date"><a href="#comment-000">Just now </a></span>&nbsp; &nbsp;<small><i>[Comment pending for approval]</i></small></header>';
                            cmtHTML += ' <div class="comment-content entry clr" itemprop="commentText">';
                            cmtHTML += ' <p>' + $("#exampleFormControlTextarea1").val() + ' </p>';
                            cmtHTML += ' </div> </div>  </article></li>';
                            $("#olCmnt").append(cmtHTML);
                            document.getElementById("fnComment").reset();

                            var target = $('#li-comment-000');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top
                                }, 600);
                                return false;
                            }
                        }
                    }
                    function OnErrorCall_cmt(data) {
                        generateCmtAlert("Whooops something went wrong, pls try again later!", "alert-danger");
                    }



                });








            });



        </script>
    }

}
else
{
    @section Scripts{



        <script type="text/javascript">
            var patternEmail = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2, 4}\b$/i


            var el = document.getElementById("menuBar");
            el.classList.add("fixed-top");

            function fnValid() {
                var iEmail = $("#txtEmail").val().trim();
                var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
                var spnMsg = $(".clsEmailIDErr");

                if (iEmail.length == 0) {
                    spnMsg.fadeIn(600);

                    return false;
                } else if (!pattern.test(iEmail)) {
                    spnMsg.html("Invalid e-mail address.");
                    spnMsg.fadeIn(600);
                    return false;
                }
                else {
                    return true;
                }
            }

            $(document).ready(function () {

                $("#btnSubscribeHomePage").on('click', function (e) {


                    e.preventDefault();
                    var obj = {
                        "Name": "NA",
                        "EmailId": $("#txtEmail").val()
                    }

                    if (fnValid()) {

                        $.ajax({
                            type: "POST",
                            url: "api/Subscribers",
                            headers: {
                                "RequestVerificationToken":
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            data: JSON.stringify(obj),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: OnSuccess,
                            error: OnErrorCall
                        });
                    }
                    function OnSuccess(data) {
                        if (data.success) {
                            alert(data.message);
                            $("#txtEmail").val("");
                            $(".clsEmailIDErr").hide();
                        } else {
                            alert(data.message);
                            $("#txtEmail").val("");
                        }
                    }
                    function OnErrorCall(data) {

                        alert("Error occurs, pls try again later.");
                    }

                });
            });
        </script>

    }

}