@{
    var Meta = (Blogmenia.Core.MetaTags)ViewData["MyMetaTags"];
    var webFeaturedImgURL = Meta.BaseUrl + Meta.FeaturedImg;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!--<link rel="apple-touch-icon" sizes="76x76" href="anchor theme/assets/img/favicon.ico">-->
    <link rel="icon" type="image/png" href="~/favicon.ico">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Meta.Title - Codepedia</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="keywords" content="@Meta.Keywords" />
    <meta name="description" content="@Meta.Description" />
    <!-- TAGS FOR SEO STARTS -->
    <meta property="og:site_name" content="Codepedia" />
    <meta name="author" content="Satinder singh">
    <meta property="article:publisher" content="https://facebook.com/satindersinght" />
    <meta property="article:author" content="https://www.facebook.com/satindersinght" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="summary_large_image" />

    <meta property="og:title" content="@Meta.Title" />
    <meta name="twitter:title" content="@Meta.Title" />

    <link rel="canonical" href="@Meta.Web_Url" />
    <meta property="og:url" content="@Meta.Web_Url" />
    <meta property="og:image:secure_url" content="@webFeaturedImgURL" />

    <meta name="description" content="@Meta.Description" />
    <meta name="twitter:description" content="@Meta.Description" />
    <meta property="og:description" content="@Meta.Description" />

    <meta name="twitter:image" content="@webFeaturedImgURL" />
    <meta property="og:image" content="@webFeaturedImgURL" />

    <meta property="article:published_time" content="@Meta.PublishDate" />
    <meta property="article:modified_time" content="@Meta.ModifyDate" />
    <meta property="og:updated_time" content="@Meta.ModifyDate" />
    <meta property="article:section" content="@Meta.PrimaryCategory" />

    @*<meta property="article:tag" content="file extension" />
        <meta property="article:tag" content="javascript" />*@

    @*<meta name="twitter:site" content="@satindersinght" />*@


    @*<meta name="twitter:creator" content="@satindersinght" />*@
    @*<link rel='shortlink' href='https://codepedia.info/?p=7884' />*@
    @*<link rel="amphtml" href="https://codepedia.info/get-file-extension-javascript/amp/">*@


    <!-- TAGS FOR SEO ENDS -->
    <!-- CSS -->
    <link href="~/Theme/Harman/css/main.min.css" rel="stylesheet" />

    <style type="text/css">




        #adHolder {
            position: fixed;
            top: 120px;
            margin-left: 15px;
            display: none;
            /*right: 15%;*/
        }

        #socialShare {
            width: 30px;
            top: 119px;
            position: fixed;
            float: left;
            margin-left: 35px;
        }


        #myAdminHeader {
            position: absolute;
            top: 0px;
        }

        #dvadmin {
            float: left;
            width: 100%;
            background-color: black;
            color: white;
        }
    </style>



</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col">

                <div id="dvadmin">
                    <ul class="m-0 pt-1 pb-1">
                        <li class="list-inline-item"><a class="text-white" asp-page="/BlogPost/Index" asp-area="Admin"> View Post List </a></li>

                        @{

                            if (@ViewData["PostID"] != null)
                            {
                                <li class="list-inline-item"> | <a class="text-white" asp-page="/BlogPost/Upsert" asp-area="Admin" asp-route-Id="@ViewData["PostID"]"> Edit Post</a></li>
                            }
                        }
                    </ul>
                </div> <br />
            </div>
        </div>
    }

    <nav id="menuBar" class="navbar navbar-expand-lg navbar-dark bg-danger scrollednav py-0  ">
        <div class="container">

            <a class="navbar-brand" asp-area="" asp-route-slug="" asp-page="/Index">
                <svg class="svg-codepedia-logo" aria-hidden="true" height="45px" role="img" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z" fill="currentColor" />                </svg>
                <strong class="logoStrong">Codepedia</strong><small class="logoSmall">.info</small>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1" aria-expanded="false" aria-label="Toggle navigation" style=""><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown-1">
                <ul class="navbar-nav mr-auto" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="name" class="nav-item active"><a class="nav-link" asp-area="" asp-route-slug="" asp-page="/Index">Home</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="jquery-tutorials" asp-page="/category/Index" asp-route-pageIndex="1">jQuery</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="angularjs" asp-page="/category/Index" asp-route-pageIndex="1">Angular</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="asp-net" asp-page="/category/Index" asp-route-pageIndex="1">Asp.net</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="aspnet-core" asp-page="/category/Index" asp-route-pageIndex="1">Asp.net Core</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="c" asp-page="/category/Index" asp-route-pageIndex="1">C#</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="sql" asp-page="/category/Index" asp-route-pageIndex="1">Sql</a></li>
                    <li itemprop="name" class="nav-item"><a itemprop="url" class="nav-link" asp-route-slug="" asp-page="/editor-example/Index">Demos</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Twitter Bot</a><a class="dropdown-item" href="#">Json Formatter</a><a class="dropdown-item" href="#">Base64 Encode</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link1 iconSVG" href="https://twitter.com/codepedia_info" target="_blank"><svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">  <path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path> </svg> </a> </li>
                    <li class="nav-item "><a class="nav-link1 iconSVG" href="https://www.facebook.com/codepedia/" target="_blank"> <svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet">  <path d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path>  </svg> </a>  </li>
                    <li class="nav-item "><a class="nav-link1 iconSVG" href="https://in.linkedin.com/in/satindersinght" target="_blank"><svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet"> <path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"></path>   </svg></a> </li>
                    <li class="nav-item "><a class="nav-link1 iconSVG"><svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet"><path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path></svg></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="min-height:400px;">
        @RenderBody()
    </div>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1440 126" style=" enable-background: new 0 0 1440 126;" xml:space="preserve"><path class="bg-black" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path> </svg>
    <footer class="bg-black pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="text-white"><svg class="svg-codepedia-logo" aria-hidden="true" height="50px" role="img" viewBox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M255.03 261.65c6.25 6.25 16.38 6.25 22.63 0l11.31-11.31c6.25-6.25 6.25-16.38 0-22.63L253.25 192l35.71-35.72c6.25-6.25 6.25-16.38 0-22.63l-11.31-11.31c-6.25-6.25-16.38-6.25-22.63 0l-58.34 58.34c-6.25 6.25-6.25 16.38 0 22.63l58.35 58.34zm96.01-11.3l11.31 11.31c6.25 6.25 16.38 6.25 22.63 0l58.34-58.34c6.25-6.25 6.25-16.38 0-22.63l-58.34-58.34c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63L386.75 192l-35.71 35.72c-6.25 6.25-6.25 16.38 0 22.63zM624 416H381.54c-.74 19.81-14.71 32-32.74 32H288c-18.69 0-33.02-17.47-32.77-32H16c-8.8 0-16 7.2-16 16v16c0 35.2 28.8 64 64 64h512c35.2 0 64-28.8 64-64v-16c0-8.8-7.2-16-16-16zM576 48c0-26.4-21.6-48-48-48H112C85.6 0 64 21.6 64 48v336h512V48zm-64 272H128V64h384v256z" fill="currentColor" /></svg>Codepedia.info</p>
                    <p class="text-white">I'm Satinder Singh, an atypical polyglot programmer, who has a passion to create, solve, and deploy software applications. I have a great passion to learn new things and also write the missing instruction manuals of the web.</p>
                </div>

                <div class="col-6 col-md-6">
                    <h5 class="mb-4 text-white">Popular Post</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Easy Way to Upload Images using DropzoneJS [Drag & Drop Feature]</a></li>
                        <li><a class="text-muted" href="#">Convert HTML to Image in Jquery [Div or Table to jpg/ png]</a></li>
                        <li><a class="text-muted" href="#">Preview Image Before Upload it jQuery, HTML5 FileReader()</a></li>
                        <li><a class="text-muted" href="#">How to Get File Name, Size, Type Count in jQuery [Input File, File Api]</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <h5 class="mb-4 text-white">About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-area="" asp-page="/About">About Us</a></li>
                        <li><a class="text-muted" asp-area="" asp-page="/Contact">Contact Us</a></li>
                        <li><a class="text-muted" asp-area="" asp-page="/Privacy">Privacy</a></li>
                        <li><a class="text-muted" asp-area="" asp-page="/Advertise">Advertise</a></li>
                        <li><a class="text-muted" asp-area="" asp-page="/NikiMap">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="~/Theme/Harman/js/vendor/jquery.min.js"></script>
    <script src="~/Theme/Harman/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).scroll(function () {
                $('.topnav').toggleClass('bg-white navbar-light shadow-sm scrollednav py-0', $(this).scrollTop() > 50);
            });

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
